<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147508975-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-147508975-2');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>e7Leaks</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style/timeline.css" />
</head>
<body class="container">
    <div class="row mt-3">
        <h1 class="col-md-9">
            E7 Leaks
            <small class="text-muted">Upcoming Epic 7 patches</small>
        </h1>
        <div class="col-3">
            <a class="btn btn-secondary float-right btn-sm" data-toggle="collapse" href="#disclaimer" role="button" aria-expanded="false" aria-controls="disclaimer">Disclaimer</a>
        </div>
    </div>

    <blockquote id="disclaimer" class="blockquote collapse multi-collapse">
        <p><small class="text-muted">
            This site intents to gather and centralize all information regarding upcoming Epic Seven features.
            It does not guarantee any feature at any date but tries to be as accurate as possible given
            the pieces of information the community gets, whether from datamines, streams, dev notes, patterns, etc
        </small></p>
    </blockquote>
    {{#if events}}
        <h3>Ongoing Events</h3>
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 px-3 mb-3">
        {{#each events}}
            <div class="col border p-2 border-secondary">
                <b>{{name}}</b> {{type}}
                <span class="badge badge-{{style}}">
                    <span class="time-target" data-target="{{target}}">
                        <span class="hour"></span>:<span class="min"></span>:<span class="sec"></span>
                    </span>
                </span>
            </div>
        {{/each}}
        </div>
        <hr />
    {{/if}}
    <h3>Incoming Features</h3>
    {{#each timeline}}
        <div class="card mb-4">
            <h5 class="card-header">{{date}} <span class="badge badge-{{patchTypeBadgeClass}} float-right" data-toggle="tooltip" title="{{patchTypeTooltip}}">{{patchType}}</span></h5>
            <div class="card-body">
                {{#if title}}<h5 class="card-title">{{title}}</h5>{{/if}}
                <ul>
                    {{#each news}}
                        <li><span class="badge badge-pill badge-{{veracityBadgeClass}}">{{veracity}}</span> {{info}}{{#if source}} <small class="text-muted">({{source}})</small>{{/if}}</li>
                    {{/each}}
                </ul>
            </div>
            {{#if stream}}
                <div class="card-footer">
                    <span class="text-muted">Expected from Korean stream</span>
                    <ul>
                    {{#each stream}}
                        <li class="text-muted">{{this}}</li>
                    {{/each}}
                    </ul>
                </div>
            {{/if}}
        </div>
    {{/each}}

    <footer class="page-footer pt-3 mt-5">
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-md-8 mt-md-0 mt-3">
                    <h5 class="text-uppercase">Credits</h5>
                    <p>
                        Maphe
                    </p>
                </div>
                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col-md-4 mb-md-0 mb-3">
                    <h5 class="text-uppercase">Contribute</h5>
                    <ul class="list-unstyled">
                        <li>
                            Contact me on Discord: Maphe#1384
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script type="application/javascript">
    const countdown = (elem) => {
        let hours, minutes, seconds;

        const endDate = new Date(elem.dataset.target).getTime();

        if (isNaN(endDate)) {
            return;
        }

        setInterval(calculate, 1000);

        function calculate() {
            let startDate = new Date().getTime();

            let timeRemaining = Math.round((endDate - startDate) / 1000);

            if (timeRemaining >= 0) {
                hours = Math.round(timeRemaining / 3600);
                timeRemaining = (timeRemaining % 3600);

                minutes = Math.round(timeRemaining / 60);
                timeRemaining = (timeRemaining % 60);

                seconds = Math.round(timeRemaining);

                // document.getElementById("days").innerHTML = Math.round(days, 10);
                elem.getElementsByClassName('hour')[0].innerHTML = hours < 10 ? "0" + hours : hours;
                elem.getElementsByClassName('min')[0].innerHTML = minutes < 10 ? "0" + minutes : minutes;
                elem.getElementsByClassName('sec')[0].innerHTML = seconds < 10 ? "0" + seconds : seconds;
            } else {
                return;
            }
        }
    };

    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
        const timeTargets = document.getElementsByClassName('time-target');
        for (let i = 0; i < timeTargets.length; i++) {
            countdown(timeTargets.item(i));
        }
    })
</script>
</html>
