<a href='https://en.ldplayer.net/games/epic-seven-on-pc.html?n=79369494#utm_source=aff&utm_medium=aff&utm_campaign=aff79369494' target='_blank' id='right-banner' class='d-none d-lg-block'><img src='/img/ldplayer_banner.jpeg'></a>
{{#each timeline}}
    <div class="card mb-4">
        <h5 class="card-header">
            {{formattedDate}}
            {{#if link}} [<a href="{{link}}" target="_blank">Patch Note</a>]{{/if}}
            {{#if twitch}} [<a href="{{twitch}}" target="_blank">Patch Stream</a>]{{/if}}
            {{#if patchType}}
                <span class="badge badge-{{patchTypeBadgeClass}} float-right" data-toggle="tooltip" title="{{patchTypeTooltip}}">{{patchType}}</span>
            {{/if}}
        </h5>
        <div class="card-body">
            <div class="row">
                <div class="col-{{#if images}}9{{else}}12{{/if}}">
                    {{#if title}}<h5 class="card-title">{{title}}</h5>{{/if}}
                    <ul>
                        {{#each news}}
                            <li>
                                <span class="badge badge-pill badge-{{veracityBadgeClass}}">{{veracity}}</span> {{{info}}}
                                {{#if source}}<small class="text-muted">({{source}})</small>{{/if}}
                                {{#each resources}}
                                    <a href="{{url}}" target="_blank">[{{label}}]</a>
                                {{/each}}
                            </li>
                        {{/each}}
                    </ul>
                </div>
                {{#if images}}
                    <div class="col-3">
                        {{#each images}}
                            <img src="{{this}}" height="50" class="float-right" />
                        {{/each}}
                    </div>
                {{/if}}
            </div>
        </div>
        {{#if stream}}
            <div class="card-footer">
                <span class="text-muted">Expected from live stream</span>
                <ul>
                {{#each stream}}
                    <li class="text-muted">{{this}}</li>
                {{/each}}
                </ul>
            </div>
        {{/if}}
    </div>
{{/each}}
